page-about {
    .loginpanel {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        //background: url(https://subtlepatterns.com/patterns/tweed.png);
        background: url(http://3.bp.blogspot.com/-xRyimC4NWz8/VfCXNL2bymI/AAAAAAAAI0A/Lfd2G17o9sk/s1600/fondos%2Bvintage%2B3.jpg);
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
      .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }
        
        }
}
